html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  min-height: 100vh;
  background: linear-gradient(
      to right bottom,
      hsla(180, 100%, 50%, 0.5),
      hsla(240, 100%, 50%, 0.5)
    )
    no-repeat;
  text-align: center;
  padding: 1em;
}

ul {
  list-style: none;
  padding: 0;
}

header {
  font-size: 2rem;
}

h1 {
  background: linear-gradient(
    to left,
    hsla(20, 100%, 50%),
    hsla(240, 100%, 50%)
  );
  background-clip: text;
  -webkit-background-clip: text; /* For Chrome */
  color: transparent;
}

.grid {
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  gap: 1em;
  place-content: center;
  margin: 0 auto;
}

.card {
  width: 150px;
  height: 150px;
  position: relative;
  perspective: 800px;
  cursor: pointer;
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: 0.6s;
  box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  z-index: -1;
}

.card::before {
  background: url("../images/default.jpg") center/cover no-repeat;
}

.card::after {
  background: var(--card-img, hsl(0, 0%, 90%, 0.5)) center/cover no-repeat;
  transform: rotateY(180deg);
}

.card.flipped::before {
  transform: rotateY(-180deg);
}

.card.flipped::after {
  transform: rotateY(0);
}

@media screen and (max-width: 550px) {
  header {
    font-size: 1.8rem;
  }

  .card {
    width: 100px;
    height: 100px;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, 100px);
  }
}
